<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Todo Manager</title>
</head>

<body>
    <div class="container">
      <a href="{{url_for('home')}}">Todo manager</a>
      <div>
        <ul>
          {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

</body>
