{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header>
  <title>Todo Manager</title>
  <style>
    html {
      padding: 20px;
    }
  </style>
</header>

<body>
  <h2>Hello {{ name }}, Welcome to Todo list manager!</h2>

  {% if todos %}
    <h3>Your To-do list:</h3>
    {% for todo in todos: %}
      <ul>
        <label data-param="{{ todo.id }}"><input class="todo-list" type="checkbox">{{ todo.list }}</label>
      </ul>
    {% endfor %}
  {% endif %}

  <form action="{{ url_for('add_todo') }}" method="post">
    <input type="text" style="width: 200px" placeholder="Enter anything you want to do" name="todo-item">
    <button type="submit">Add Item</button>
  </form>

  {%if completed_items: %}
    <h3>Completed Items:</h3>
    {% for item in completed_items: %}
      <ul>
        <li>{{ item.list }}</li>
      </ul>
    {% endfor %}
  {% endif %}

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(".todo-list").change(function() {
        if (this.checked) {
            var itemid = $(this).closest("label").data("param");
            console.log(itemid);
                $.ajax({
                    type: "POST",
                    url: "/completed",
                    contentType: "application/json",
                    data: JSON.stringify({
                        'item_id': itemid
                    }),
                    success: function (response) {
                        console.log(response);
                    }
                });
        }
    });
});
</script>


{% endblock %}


