{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header>
  <title>Todo Manager</title>
  <style>
    html {
      padding: 20px;
    }
  </style>
</header>

<body>
  <h2>Hello {{ name }}, Welcome to Todo list manager!</h2>

  {% if todos %}
    <h3>Your To-do list:</h3>
    {% for todo in todos: %}
      <ul>
        <form action="{{ url_for('completed') }}" method="post">
          <label name="myCheck">{{ todo.list }}</label>
          <input type="checkbox" name="" onclick="setValue()">
        </form>
      </ul>
    {% endfor %}
  {% endif %}

  <form action="{{ url_for('add_todo') }}" method="post">
    <input type="text" style="width: 200px" placeholder="Enter anything you want to do" name="todo-item">
    <button type="submit">Add Item</button>
  </form>

  {%if completed_items: %}
    <h3>Completed Items:</h3>
    {% for item in completed_items: %}
      <ul>
        <p>{{ item }}</p>
      </ul>
    {% endfor %}
  {% endif %}
</body>

<script>
function setValue() {
  var checkBox = document.getElementById("myCheck");
  if (checkBox.checked == true){
     checkBox.name = "True";
  } else {
     checkBox.name = "False";
  }
}
</script>

{% endblock %}

