{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}


<header class="masthead" style="background-image: url('https://media.istockphoto.com/id/1293850746/photo/to-do-list.jpg?s=170667a&w=0&k=20&c=XGjC_0WhycT_RtLOzyUFyCZ9MkOJdiylJkp19upc1G4=')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Create your to-do list</h1>
          </div>
        </div>
      </div>
    </div>
  </header>


{% endblock %}
